﻿<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12" id="main-carousel">
                <div id="jssor_1" style="position: relative; margin: 0; top: 0px; left: 0px; width: 1200px; height: 450px; overflow: hidden; visibility: hidden;">
                    <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1200px; height: 450px; overflow: hidden;">
                        <div data-p="200.00" style="display: none;">
                            <img data-u="image" src="~/Content/img/Home/fondomobile4.jpeg" />                          
                            <div class="well-caption" style="position: absolute; top: 120px; left: 140px; width: 450px; height: 170px; font-size: 60px; color: rgb(198,72,50);">
                                Mobile
                                <p style=" font-size: 30px; color: #ffffff; line-height: 30px;">
                                    Sus aplicaciones listas en cualquier momento y lugar.
                                </p>
                            </div>
                            <div data-u="caption" data-t="0" style="position: absolute; top: 100px; left: 600px; width: 445px; height: 300px;">
                                <img src="~/Content/img/Home/c-phone.png" style="position: absolute; top: 0px; left: 0px; width: 445px; height: 300px;" />
                                <img src="~/Content/img/Home/c-navigator.png" data-u="caption" data-t="1" style="position: absolute; top: -123px; left: 121px; width: 200px; height: 155px;" />
                                <img src="~/Content/img/Home/apple-icon2.png" data-u="caption" data-t="2" style="position: absolute; top: 100px; left: 350px; width: 100px; height: 50px;" />
                                <img src="~/Content/img/Home/windows2.png" data-u="caption" data-t="3" style="position: absolute; top: 160px; left: 280px; width: 100px; height: 50px;" />
                                <img src="~/Content/img/Home/android2.png" data-u="caption" data-t="4" style="position: absolute; top: 210px; left: 220px; width: 100px; height: 50px;" />
                                <!--
                                <img src="~/Content/img/Home/inetsoluciones.png" data-u="caption" data-t="5" style="position: absolute; top: 42px; left: 80px; width: 186px; height: 146px;" />    
                                -->
                            </div>
                            <div data-u="caption" data-t="6" style="position: absolute; top: 120px; left: 650px; width: 470px; height: 220px;">
                                <img src="~/Content/img/Home/c-phone-horizontal.png" style="position: absolute; top: 0px; left: 0px; width: 470px; height: 220px;" />
                                <div style="position: absolute; top: 4px; left: 45px; width: 379px; height: 213px; overflow: hidden;">
                                    <img src="~/Content/img/Home/slide2.jpg" data-u="caption" data-t="7" style="position: absolute; top: 0px; left: 0px; width: 379px; height: 213px;" />
                                    <img src="~/Content/img/SlideWithTransparentLogo.jpg" data-u="caption" data-t="8" style="position: absolute; top: 0px; left: 379px; width: 379px; height: 213px;" />
                                </div>
                                <img src="~/Content/img/Home/c-navigator-horizontal.png" style="position: absolute; top: 4px; left: 45px; width: 379px; height: 213px;" />
                                <img src="~/Content/img/Home/c-finger-pointing.png" data-u="caption" data-t="9" style="position: absolute; top: 740px; left: 1600px; width: 257px; height: 300px;" />
                            </div>
                        </div>
                        <div data-p="200.00" style="display: none;">
                            <img data-u="image" src="~/Content/img/Home/data_center.jpg" />
                            <img src="~/Content/img/LCSF.png" data-u="image" data-t="3" style="position: absolute; top: 180px; left: 510px; width: 180px; height: auto;" />
                            <div class="well-caption" data-u="caption" data-t="10" style="position: absolute; top: 105px; left: 65px; width: 430px; height: 170px; font-size: 40px; color: rgb(198,72,50); background-color:rgba(0,0,0,.8); border-radius:5px; ">
                                Business Intelligence
                                <p style="font-size: 30px; color: #ffffff; line-height: 30px;">
                                    Mejores decisiones de negocio en base a información confiable.
                                </p>
                            </div>
                            <img src="~/Content/img/Home/PowerBI.png" data-u="caption" data-t="12" style="position: absolute; top: 200px; right: -600px; width: 400px; height: 200px;" />
                        </div>
                        <div data-p="200.00" style="display: none;">
                            <img data-u="image" src="~/Content/img/Home/teclado.jpg" />
                            <div class="well-caption" data-u="caption" data-t="10" style="position: absolute; top: 105px; left: 60px; width: 430px; height: 170px; font-size: 40px; color: rgb(198,72,50);background-color:rgba(0,0,0,.8); border-radius:5px;">
                                Software Development
                                <p style=" font-size: 30px; color: #ffffff; line-height: 30px;">
                                    Profesionales de software que convierten sus ideas en aplicaciones.
                                </p>
                            </div>

                            <div data-bf="hidden" style="position: absolute; top: 35px; left: 615px; width: 540px; height: 330px; overflow: hidden;">
                                <img src="~/Content/img/Home/sd1.png" data-u="caption" data-t="14" style="position: absolute; top: 65px; left: -323px; width: 323px; height: 200px;" />
                                <div data-u="caption" data-t="15" style="position: absolute; top: 20px; left: -250px; width: 250px; height: 30px; font-size: 25px; color: #eee; line-height: 30px; text-align: center;">Aplicaciones Móviles</div>
                                <img src="~/Content/img/Home/sd2.png" data-u="caption" data-t="16" style="position: absolute; top: 90px; left: -368px; width: 368px; height: 150px;" />
                                <div data-u="caption" data-t="17" style="position: absolute; top: 40px; left: -250px; width: 250px; height: 30px; font-size: 25px; color: #eee; line-height: 30px; text-align: center;">Asistencia Técnica</div>
                                <img src="~/Content/img/Home/sd3.png" data-u="caption" data-t="18" style="position: absolute; top: 70px; left: -330px; width: 330px; height: 189px;" />
                                <div data-u="caption" data-t="19" style="position: absolute; top: 20px; left: -250px; width: 250px; height: 30px; font-size: 25px; color: #eee; line-height: 30px; text-align: center;">Responsive WebSites</div>
                            </div>
                        </div><a data-u="ad" style="display: block; position: absolute; top: 0; right: 0; width: 0px; height: 0px;"></a>
                    </div>
                    <div data-u="navigator" class="jssorb05" style="bottom: 16px; right: 16px;" data-autocenter="1">
                        <div data-u="prototype" style="width: 16px; height: 16px;"></div>
                    </div>
                    <span data-u="arrowleft" class="jssora22l" style="top: 0px; left: 12px; width: 40px; height: 58px;" data-autocenter="2"></span>
                    <span data-u="arrowright" class="jssora22r" style="top: 0px; right: 12px; width: 40px; height: 58px;" data-autocenter="2"></span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Services Section -->
<section id="services" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Servicios</h2>
                <h3 class="section-subheading text-muted">Calidad en productos, calidad en servicio.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="inner">
                    <img src="~/Content/img/Servicios/code.png" class="service-img" alt="">
                    <h4 class="service-heading">Fábrica de software</h4>
                    <p class="text-muted">Creamos aplicaciones en base a las necesidades propias de tu negocio, desarrollamos soluciones a medida en base a las tecnologías que mejor se adapten a tu proyecto.</p>
                </div>
            </div>            
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="inner">
                    <img src="~/Content/img/Servicios/qa.png" class="service-img" alt="">
                    <h4 class="service-heading">Quality Assurance</h4>
                    <p class="text-muted">Ofrecemos el servicio de aseguramiento de calidad en base a pruebas funcionales y técnicas, garantizamos que el sistema haga lo que debe y con un buen rendimiento.</p>
                </div>
            </div>
            <!--
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="inner">
                    <img src="~/Content/img/Servicios/team.png" class="service-img" alt="">
                    <h4 class="service-heading">Staffing</h4>
                    <p class="text-muted">Nos encargamos de la búsqueda y asignación de personal con competencias técnicas que aporte con experiencia soluciones bajo la administración del cliente.</p>
                </div>
            </div>
            -->
        </div>
    </div>
</section>

<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Tecnolog&iacute;as</h2>
                <h3 class="section-subheading text-muted"><!--Subtitulo o cita textual--></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/Content/img/portfolio/Web_Intro.jpg" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4 class="service-heading">Web</h4>
                    <p class="text-muted">Diseño y Desarrollo</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 portfolio-item">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/Content/img/portfolio/dreams.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4 class="service-heading">Dreams</h4>
                    <p class="text-muted">Diseño de Sitio Web</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Proceso Section -->
<section id="proceso" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Nuestro proceso</h2>
                <h3 class="section-subheading text-muted"><!--Subtitulo o cita textual--></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="~/Content/img/proceso/idea.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Tu idea</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Todo gran proyecto siempre comienza con una gran idea, en I.Net Soluciones cuentas con un aliado tecnológico que te ayudará a poner en marcha ese gran proyecto que mejorará tu negocio.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="~/Content/img/proceso/propuesta.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Nuestra propuesta</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Entendemos que tu empresa tiene necesidades únicas, te presentamos una gama de soluciones que pueden adaptarse mejor a el momento y contexto en que se encuentra. Cuenta con tu experto tecnológico para asesorarte sobre la mejor alternativa.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="~/Content/img/proceso/code.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Implementación</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Es tiempo de hacer lo que mejor sabemos, creamos aplicaciones de alto rendimiento en base a las mejores prácticas de la industria y te brindamos la documentación necesaria para que puedas dar continuidad a to aplicación.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="~/Content/img/proceso/test.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Pruebas</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Ejecutamos varios tipos y ciclos de pruebas para asegurarnos que tu aplicación no se vea comprometida por algún comportamiento extraño y nos esforzamos para que tus usuarios se sientan cómodos al utilizar el sistema.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="~/Content/img/LCCF_200x200.png" alt="Logo I.Net Soluciones">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <br />
                                <h4>Crezcamos juntos</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Ya sea un sitio web, una herramienta de escritorio, una aplicación móvil o un servicio en la nube en I.Net soluciones contamos con el experto tecnológico para poner en marcha tu proyecto.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Sobre I.Nets -->
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1 ">
                <h2 class="section-heading">La historia I.Net Soluciones</h2>
                <p class="large text-muted">
                    Hemos creado I.Net Soluciones porque queremos poner en marcha nuestra visión de soluciones informáticas,
                    conocemos la industria y sabemos que debe existir una opción que se oriente al servicio,
                    genere potentes herramientas con una relación de trabajo eficiente y amigable; además de desarrollar grandes experiencias de usuario.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1 ">
                <h3>Nuestros Valores</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-5 col-md-5 col-xs-12 col-lg-offset-1 col-md-offset-1">
                <div class="valores">
                    <table>
                        <tr>
                            <td style="padding: 5px"><img src="~/Content/img/team/good.png" /></td>
                            <td style="padding: 8px">
                                <h4>Talento</h4>
                                <p class="text-muted">
                                    Apostamos por el crecimiento de nuestro personal, por eso creamos un ambiente cómodo, flexible y con las condiciones necesarias para desarrollar el talento de nuestro equipo humano.
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-xs-12">
                <div class="valores">
                    <table>
                        <tr>
                            <td style="padding: 5px"><img src="~/Content/img/team/apreton.png" /></td>
                            <td style="padding: 8px">
                                <h4>Compromiso</h4>
                                <p class="text-muted">
                                    Asumimos con profesionalismo el reto de cumplir con las expectativas de nuestros clientes,
                                    convertimos sus metas en objetivos comunes y creamos los mecanismos para concluirlos.
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-5 col-md-5 col-xs-12 col-lg-offset-1 col-md-offset-1">
                <div class="valores">
                    <table>
                        <tr>
                            <td style="padding: 5px"><img src="~/Content/img/team/innovacion.png" /></td>
                            <td style="padding: 8px">
                                <h4>Innovación</h4>
                                <p class="text-muted">
                                    Creamos el soporte tecnológico que represente ir un paso adelante, apostamos por las nuevas tecnologías y el aprovechamiento máximo de los recursos tecnológicos.
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-xs-12">
                <div class="valores">
                    <table>
                        <tr>
                            <td style="padding: 5px"><img src="~/Content/img/team/arriba.png" /></td>
                            <td style="padding: 8px">
                                <h4>Determinación</h4>
                                <p class="text-muted">
                                    Perseveramos ser un referente tecnológico y de servicio. Nos motiva ganar nuestra reputación en base a la satisfacción de nuestros clientes aportando soluciones eficaces y creativas.
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1 ">
                <h3 class="section-heading">¿Por qué I.Net Soluciones?</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-5 col-md-5 col-lg-offset-1 col-md-offset-1">
                <div class="valores" style="padding: 10px">
                    <h4>Creemos en el usuario</h4>
                    <p class="text-muted">
                        Construimos más que aplicaciones, creamos experiencias de usuarios y quien mejor que ellos para guiarnos sobre lo que necesitan.
                    </p>
                </div>
            </div>
            <div class="col-lg-5 col-md-5">
                <div class="valores" style="padding: 10px">
                    <h4>Comunicación clara</h4>
                    <p class="text-muted">
                        Sin horas holgadas ni necesidades inventadas, mantenemos una comunicación clara y honesta esto significa que no hay sorpresas.
                    </p>
                </div>
            </div>
            
        </div>
    </div>
</section>

<!-- Clients Aside -->
<aside class="clients">
    <div class="container">
        <div class="row">
            <!-- Social Media -->
        </div>
    </div>
</aside>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading text-center"><span class="glyphicon glyphicon-envelope"></span>&nbsp;Contacto</h2>
                <p style="color:white;">
                    Gracias por su interés en los servicios de I.Net Soluciones, nuestros colaboradores se pondrán en contacto con usted lo antes posible. 
                    Por favor complete los siguientes campos para brindarle un mejor servicio o bien contacte directamente a nuestro correo 
                    <a href="mailto:contacto@inets.com.mx" style="color: white; font-weight: bold;">contacto@inets.com.mx</a> .
                </p>
            </div>
        </div>
        <hr />

        <form name="sentMessage" id="contactForm" novalidate lang="es">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input type="text" id="name" class="form-control trim-field" placeholder="Nombre completo" maxlength="250" title="Ingrese caracteres válidos" required data-validation-required-message="Ingrese su nombre completo." pattern="^[a-zA-ZñÑáÁéÉíÍoÓuÚäÄëËïÏöÖüÜ\.\s\'\’]{1,}$" data-validation-pattern-message="Su nombre contiene caracteres inválidos.">
                        </div>
                        <span class="help-block" ></span>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                            <input type="text" id="email" class="form-control trim-field" placeholder="ejemplo&#64;ejemplo.com" maxlength="250" required data-validation-required-message="Ingrese su dirección de correo electrónico" data-validation-regex-regex="^(([^<>()\[\]\\.,;:\s&#64;&#34;]+(\.[^<>()\[\]\\.,;:\s&#64;&#34;]+)*)|(&#34;.+&#34;))&#64;((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$" data-validation-regex-message="Ingrese una dirección de correo electrónico válida.">
                        </div>
                        <span class="help-block"></span>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-phone-alt"></span></span>
                            <input type="tel" id="phone" class="form-control trim-field" placeholder="Tel. : (55) 5555 5555 ó 222-123-4567 ó (044) 222 123-4567" maxlength="20" data-validation-regex-regex="^(\(044\)|044|(\(045\)|045)){0,1}[\s-]{0,1}(((\(\d{3}\)|\d{3})[\s-]{0,1}\d{3})|((\(\d{2}\)|\d{2})[\s-]{0,1}\d{4}))[\s-]{0,1}\d{2}[\s-]{0,1}\d{2}$" data-validation-regex-message="Ingrese un número telefónico de 10 digitos. Separar con espacios o guión corto es opcional. Puede usar (044) o 045 para indicar que su número es celular.">
                        </div>
                        <span class="help-block"></span>
                    </div>  
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <textarea id="compose-textarea" class="form-control trim-field" placeholder="Ingrese su mensaje" required maxlength="2500" data-validation-required-message="Ingrese su mensaje."></textarea>
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center" style="padding-top: 15px;">
                    <div id="success"></div>
                    <button type="submit" id="btnSubmit" class="btn btn-primary btn-lg">     
                        <i class="fa fa-send"></i>&nbsp;&nbsp;Enviar
                    </button>
                </div>
            </div>
        </form>

    </div>
</section>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            @*
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; I.Net Soluciones</span>
            </div>
            *@
            <div class="col-md-12">
                <ul class="list-inline social-buttons">
                    <li>
                        <a href="https://twitter.com/inetsmx" target="_blank" style="background-color:#32CCFE;"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/I.Net.Soluciones.mx/" target="_blank" style="background-color:#3C599F;"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/i-net-soluciones" target="_blank" style="background-color:#0085AE;"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-12">
                <span class="copyright">Copyright &copy; I.Net Soluciones @DateTime.Now.Year</span>
            </div>
            @*
        <div class="col-md-4">
            <ul class="list-inline quicklinks">
                <li>
                    <a href="#">Privacy Policy</a>
                </li>
                <li>
                    <a href="#">Terms of Use</a>
                </li>
            </ul>
        </div>
            *@
        </div>
    </div>
</footer>

<!-- Portfolio Modals -->
<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="row">
                <br />
                <i class="glyphicon glyphicon-remove fa-3x"></i>
            </div>
            <!--<div class="lr">-->
                <!--<div class="rl">
                </div>-->
            <!--</div>-->
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Diseño y Desarrollo</h2>
                        <p class="item-intro text-muted">Diseño y ajuste a sus necesidades</p>
                        <img class="img-responsive img-centered" src="~/Content/img/portfolio/roundicons-free.png" alt="">
                        <p>
                            <!-- Descripción -->
                        </p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Regresar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="row">
                <br />
                <i class="glyphicon glyphicon-remove fa-3x"></i>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Desarrollo Móvil</h2>
                        <p class="item-intro text-muted">Aplicaciones Móviles</p>
                        <img class="img-responsive img-centered" src="~/Content/img/portfolio/startup-framework-preview.png" alt="">
                        <p>
                            <!-- Descripción -->
                        </p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Regresar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 6 -->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="row">
                <br />
                <i class="glyphicon glyphicon-remove fa-3x"></i>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Dreams</h2>
                        <p class="item-intro text-muted">Desarrollamos el proyecto como tu lo deseas.</p>
                        <img class="img-responsive img-centered" src="~/Content/img/portfolio/dreams-preview.png" alt="">
                        <p>
                            <!-- Contenido inferior del Modal -->
                        </p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Regresar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
